.body{
color: #434455;
background-color: #FFFFFF;
font-family: Roboto, sans-serif;
}

/* Header */

.studio{
color: #2E2F42;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.studio:hover,
.studio:focus{
color: #404bbf 
}

.navigation{
color: ; #4d5ae5;
font-size: 18px; 
font-family: Raleway, sans-serif;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.navigation-list{color: #2E2F42;font-size: 16px;font-style: normal;font-weight: 500;line-height: 24px;letter-spacing: 0.32px;
}

.adress{
color: #434455 ;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.adress-list{
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.adress-list:hover,
.adress-list:focus{
color: #404bbf 
}

/* Section 1 */

.section-effective{
background: #2E2F42;
}

.table-effective{
color: #FFF;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
}

.button-effective{
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
}

/* Sectuion 2 */

.advantages{
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.advan-text{
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

/* Section 3 */

.section-team{
background: #F4F4FD;
}

.table-team{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.worker-photo{
background: url(<path-to-image>), lightgray -200px -7.128px / 251.515% 170.277% no-repeat;
}

.name-team{
color: #2E2F42;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.job-name{
color: #434455;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

/* Sectio 4 */

.table-portfolio{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.portfolio-app{
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.portfolio-change{
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

/* Footer */

.footer{
    background-color: #2E2F42;
}

.footer-web{
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-studio{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.text-footer{
color: #F4F4FD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}